<nav class="navbar navbar-expand-sm bg-light">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="this.addSection.emit()"
      >
        Add Section
      </button>
    </li>
    <li class="nav-item">
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="this.addSubSection.emit()"
      >
        Add Sub-section
      </button>
    </li>
    <li class="nav-item">
      <button
        type="button"
        class="btn btn-outline-danger"
        (click)="this.deleteSection.emit()"
      >
        Delete Section
      </button>
    </li>
    <li class="nav-item">
      <button
        type="button"
        class="btn btn-outline-danger"
        (click)="this.deleteSubSection.emit()"
      >
        Delete Sub-section
      </button>
    </li>
    <li class="nav-item">
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="addActionItems()"
      >
        Add Action Item
      </button>
    </li>
    <li class="nav-item" *ngFor="let button of buttons">
      <button type="button" class="btn btn-outline-success">
        {{ button }}
      </button>
    </li>
  </ul>
</nav>
