<section class="sub-section">
  <h6>{{ subSection.title }}</h6>
  <button type="button" class="btn btn-outline-primary mr-3" (click)="addFields()">
    Add Field
  </button>
  <button type="button" class="btn btn-outline-danger" (click)="deleteFields()">
    Delete Field
  </button>
  <div class="row form-fields">
    <div
      class="col-md-3"
      *ngFor="let field of subSection.formFields; let i = index"
      (click)="setRow(i)"
      [ngClass]="{ highlight: selectedIndex === i }"
    >
      <label for="{{ field.title }}">{{ field.title + " " + (i + 1) }}</label>
      <input class="form-control" type="text" id="{{ field.title }}" />
    </div>
  </div>
</section>
