<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Buttons</mat-label>
  <mat-select [(ngModel)]="buttons" multiple>
    <mat-option *ngFor="let button of buttonList" [value]="button">{{button}}</mat-option>
  </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button class="btn btn-outline-warning mr-3"  (click)="onNoClick()">Cancel</button>
  <button class="btn btn-outline-primary" [mat-dialog-close]="buttons" cdkFocusInitial>Ok</button>
</div>