<div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-header
        (addSection)="addSection()"
        (addSubSection)="addSubSection()"
        (deleteSection)="deleteSection()"
        (deleteSubSection)="deleteSubSection()"
      ></app-header>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <app-sidebar
        [sections]="sections"
        [selectedSection]="selectedSection"
        (selectSection)="selectSection($event)"
        (click)="activeSection()"
      ></app-sidebar>
    </div>
    <div class="col-md-10">
      <app-main-content
        [section]="sections"
      ></app-main-content>
    </div>
  </div>
</div>
