<section class="section" *ngFor="let section of sections; let i = index"
[ngClass]="section.id === selectedSection.id ? 'highlight' : ''">
  <h5>{{ section.title }}</h5>
  <div class="row form-fields">
    <div
      class="col-md-3"
      *ngFor="let field of section.formFields; let i = index"
    >
      <label for="{{ field.title }}">{{ field.title + " " + (i + 1) }}</label>
      <input class="form-control" type="text" id="{{ field.title }}" />
    </div>
  </div>
  <div class="sub-sections" cdkDropList (cdkDropListDropped)="drop($event, section.subSections)">
    <app-sub-section
      *ngFor="let subSection of section.subSections; let i = index"
      (click)="setRows(i)"
      [ngClass]="{ highlight: selectedIndex2 === i }"
      [subSection]="subSection"
      cdkDrag
    ></app-sub-section>
  </div>
</section>
